<header id="title">
    <h1>Savage Worlds Raise Calculator</h1>
</header>
<!-- main app ui -->
<main>
    <div id="notification">
        <p>A new version of this app is available. <a id="reload">Reload</a> to update.</p>
    </div>
    <div class="output-container">
        <p class="instructions">Select the Target Number followed by the roll result.</p>
        <div id="output">
        </div>
    </div>
    <div id="number-grid">
    </div>
</main>