    <div class="screen {{screenTheme}}" style="filter: brightness({{brightness}})">
        <div class="screen-background-top-layer"></div>
        <h2>{{description}}</h2>
        <p>{{comparison}}</p>
    </div>
