#swade-raise-calculator {
    --spacing: 4px;
    max-width: 200px;

    & .window-content {
        display: grid;
        grid-template-rows: 60px 1fr;
        align-items: start;
        gap: var(--spacing);
        padding: var(--spacing) var(--spacing) var(--spacing);
        overflow: auto;
    }

    & .output-container {
        padding: var(--spacing);
        display: flex;
        flex-direction: column;
        place-content: center;
        gap: var(--spacing);
        text-align: center;

        &.success {
            background-color: var(--color-level-success-bg);
            color: var(--color-level-success);
            border: 1px solid var(--color-level-success-border);
        }

        &.failure {
            background-color: var(--color-level-error-bg);
            color: var(--color-level-error);
            border: 1px solid var(--color-level-error-border);
        }

        & h2 {
            margin: 0;
            font-size: 1.5em;
            border: none;
        }

        & p {
            margin: 0;
            font-size: 1.125em;
        }
    }

    & #number-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: row;
        gap: var(--spacing);

        & .number-button {
            display: flex;
            place-content: center;
            scroll-behavior: smooth;
            scroll-snap-stop: always;

            &.clicked {
                color: var(--background);
                background-color: var(--button-text-color);
            }
        }
    }
}
